.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{ 
width: 100px;
height: 100px;
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.items{
    cursor: pointer;
    background-color: rgb(156, 143, 197);
    border-radius: 5px;
    font-weight: bolder;
    padding: 5px;

}