@mixin grid($col: 3, $row: 3) {
    display: grid;
    grid-template-columns: repeat($col, 1fr);
    grid-template-rows: repeat($row, 1fr);
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
}

@mixin flex-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flex-row($justify: start, $align: flex-start, $gap: 0) {
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin flex-column($align: flex-start, $gap: 0) {
    display: flex;
    flex-direction: column;
    align-items: $align;
    gap: $gap;
}