$primary-color: #363636;
$secondary-color: #f5f5f5;
$border-color: #dcdcdc;
$link-color: #185c9b;
$hover-color: #c3c4c5;
$font-color: #262626;
$mobile-breakpoint: 480px;
$tablet-breakpoint: 771px;
$desktop-breakpoint: 1366px;