@use '../utils/mixins';
@use '../utils/variables' as *;

.btn{
    background-color: $secondary-color;
    width: 110px;
    border-radius: 50px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    a{
        text-decoration: none;
        color: #000;
        font-size: 14px;
    }
}

.link{
    background-color: transparent;
    border: none;
    color: $link-color;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0;
}

.actions{
    button{
        padding: 5px 10px;
        border: 1px solid $secondary-color;
        border-radius: 5px;
        background-color: $secondary-color;
        font-size: 1rem;
        height: 25px;
        cursor: pointer;
            display: flex;
            align-items: center;
            gap: 5px;
            &:hover{
                background-color: $hover-color;
        }
    }
}

